body {
  background: #e5e6e5;
  margin: 0px;
}
a {
  text-decoration: none;
}
h2 {
  margin: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 200px;
  margin: 10px;
}

.Nav__container {
  display: flex;
  flex-wrap: wrap;
  font-family: zeitung-mono, cronos-pro, lato, sans-serif;
  padding: 2vw 2vw;
  max-height: 30px;
}

.Nav__anchor-box {
  transform: skew(-20deg);
  display: flex;
}

.Nav__anchor {
  color: rgb(40, 16, 15);
  text-decoration: none;
}

.Nav__anchor-text {
  transform: skew(20deg);
  margin: 0;
  padding: 0 2vw;
}

.Nav__slash {
  transform: skew(-20deg);
  margin: 0 0.5vw;
  width: 2px;
  background: rgb(40, 16, 15);
}

.Nav__anchor-box:hover {
  background: rgb(65, 104, 172);
}

.Nav__anchor-box .Nav__anchor:hover {
  color: rgb(255, 255, 255);
}

.Breadcrumbs {
  font-family: zeitung-mono, cronos-pro, lato, sans-serif;
  background: rgb(40, 16, 15);
  color: rgb(255, 255, 255);
  padding: 1em;
}

.Hero__main {
  /* background: url("./assets/theater-background-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px; */
}

.Hero__title {
  font-family: lato, cronos-pro, zeitung-mono, sans-serif;
  font-size: 34px;
  color: rgba(40, 16, 15, 1);
  margin: 12px 0px 0px 50px;
}
.Hero__text {
  font-family: cronos-pro, zeitung-mono, lato, sans-serif;
  font-size: 30px;
  color: rgba(40, 16, 15, 1);
  margin: 20px 60px;
}
.Lessons {
  margin: 50px;
}
.Lessons__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 20px;
}
.Lessons__thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  height: 168px;
  background-repeat: no-repeat;
  opacity: 0.75;
}
.wangari-thumbnail {
  background: url("./assets/thumbnails/wangari_mathai-thumbnail2.jpg");
  background-size: cover;
}
.earthSystems-thumbnail {
  background: url("./assets/thumbnails/earthSystems-thumbnail.png");
  background-size: cover;
}
.air-thumbnail {
  background: url("./assets/thumbnails/air-thumbnail.png");
  background-size: cover;
}

.detective-thumbnail {
  background: url("./assets/thumbnails/detective-thumbnail.jpg");
  background-size: cover;
}
.arborist-thumbnail {
  background: url("./assets/thumbnails/arborist-thumbnail.jpg");
  background-size: cover;
}
.play-icon {
  fill: rgb(229, 230, 229, 0.8);
}
.Lessons__thumbnail:hover {
  opacity: 1;
}
.Lessons__text {
  margin: 0 16px;
}
.Lessons__heading {
  font-family: zeitung-mono, cronos-pro, lato, sans-serif;
  font-size: 20px;
  color: rgba(40, 16, 15, 1);
  margin: 0 0;
}

.Lessons__description {
  font-family: lato, zeitung-mono, cronos-pro, sans-serif;
  font-size: 18px;
  color: rgba(40, 16, 15, 1);
}
.Lessons__objective {
  font-weight: bold;
  font-family: lato, zeitung-mono, cronos-pro, sans-serif;
  font-size: 18px;
  color: rgba(40, 16, 15, 1);
}
.logo-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 8px;
}
.ppt-logo,
.pdf-logo {
  width: 50px;
  fill: rgba(183, 71, 43, 1);
}
.ppt-logo:hover {
  width: 50px;
  fill: rgba(183, 71, 43, 0.6);
}
.Supplemental {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}
.Supplemental__title {
  font-family: lato, cronos-pro, zeitung-mono, sans-serif;
  font-size: 30px;
  color: rgba(40, 16, 15, 1);
  text-align: center;
}

.upcoming-thumbnail__1 {
  background: url("./assets/thumbnails/upcoming-thumbnail1.jpg");
  background-size: cover;
}

.upcoming-thumbnail__2 {
  background: url("./assets/thumbnails/upcoming-thumbnail2.jpg");
  background-size: cover;
}

.upcoming-thumbnail__3 {
  background: url("./assets/thumbnails/upcoming-thumbnail3.jpg");
  background-size: cover;
}

.Partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Partners-sec {
  display: flex;
  flex-direction: row;
}
.Partners-col {
  margin: 0px 30px;
}
.Partners__title {
  font-family: lato, cronos-pro, zeitung-mono, sans-serif;
  font-size: 30px;
  color: rgba(40, 16, 15, 1);
  text-align: center;
}
.Partners__logos-orgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.Partners__description {
  font-family: lato, zeitung-mono, cronos-pro, sans-serif;
  font-size: 18px;
  color: rgba(40, 16, 15, 1);
  margin: 0px 75px;
}
.Partners__logos-schools {
  width: 75vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Map__description {
  font-family: lato, zeitung-mono, cronos-pro, sans-serif;
  font-size: 14px;
  color: rgba(40, 16, 15, 1);
  margin: 0px 75px;
  display: flex;
  align-items: center;
}
.gmaps-icon {
  width: 30px;
}
.elag-map__iframe {
  border: none;
  margin: 20px;
}
.form__iframe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__container {
  background: #373737;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__logo {
  height: 130px;
  opacity: 1;
}
.footer__logo:hover {
  opacity: 0.4;
}
.footer-link {
  text-decoration: none;
  color: rgb(229, 230, 229, 0.8);
  font-family: Lato-light, cronos-pro, zeitung-mono, sans-serif;
  font-size: 17px;
}
.footer-link:hover {
  color: white;
}
.footer__button {
  font-family: zeitung-mono, lato-light, cronos-pro, sans-serif;
  text-decoration: none;
  color: #e5e6e5;
  text-align: center;
  padding: 20px 40px;
  background: rgba(65, 104, 172, 1);
}
.footer__button:hover {
  background: rgba(65, 104, 172, 0.6);
}

.SocialLinks__logo {
  height: 30px;
  margin: 8px;
  fill: rgba(219, 219, 219, 0.7);
}

.SocialLinks__logo:hover {
  fill: rgba(219, 219, 219, 1);
}
